body { 
    padding-top: 50px; 
}

.jumbotron {
    background-color: rgba(245, 245, 245, 0.5);
}

footer {
    height: 150px;
}

#corps {
    padding-top: 30px
}

@media screen and (max-width: 768px){
    body { 
        padding-top: 200px; 
    }  
}

@media screen and (min-width: 768px){
    .navbar-brand {
        padding-left: 100px;
    }
}